version: "3.8"

services:
  web:
    image: ${DOCKER_IMAGE}
    restart: always
    env_file:
      - .env

  nginx:
    image: nginx:1.27-alpine
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "80:80"
    depends_on:
      - web
    restart: always
